#searchResults {
    cursor: pointer;
}

#login .container #login-row #login-column #login-box {
    max-width: 600px;
    height: 360px;
    border: 1px solid #9C9C9C;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -55px;
}

#searchResults {
    background-color: rgb(224, 224, 224);
    color: black;
}

#searchImg {
    border-radius: 23px
}

li .btn-danger,
li .btn-success {
    margin-bottom: 2px;
    padding: 1px 4px 1px 4px;
}

#collection,
#wishList {
    padding-left: 0px
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a {
    color: aliceblue;
}