ul {
    list-style-type: none;
    cursor: pointer;
}

#login .container #login-row #login-column #login-box {
    max-width: 600px;
    height: 360px;
    border: 1px solid #9C9C9C;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -55px;
}

#searchResults {
    background-color: rgb(224, 224, 224);
    color: black;
}